<%- include("partials/head") %>
<!--path argument in functionObject-->
<!--include the head.ejs partial ejs template-->
<body>
  <h1>All the cats:</h1>
  <ul>
    <% for(let cat of cats) { %>
    <li><%= cat %></li>
    <% } %>
  </ul>
</body>

<%- include("partials/footer")%>
<!--path argument in functionObject-->
<!--include the footer.ejs partial ejs template-->
