<!--ejs file - standard html + javascript -->
<%- include("partials/head") %>
<!--path argument in functionObject-->
<!--include the head.ejs partial ejs template-->
<body>
  <!--bootstrap v4.5.3 library - adding a navbar component-->
  <%- include("partials/navbar")%>
  <!--include the navbar.ejs partial ejs template-->

  <h1>This Home Page</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis doloribus
    beatae unde dicta mollitia, obcaecati corporis nisi architecto ducimus! Quo
    quod perspiciatis optio corporis earum modi eveniet ad repellendus quaerat.
  </p>
</body>
<%- include("partials/footer")%>
<!--path argument in functionObject-->
<!--include the footer.ejs partial ejs template-->

<!--
go to ejs documentation
//Tags// - helps embed js into html template
1- control-flow, no output to html template - (%)
2- output value into html template ie escapes as string - (%=)
3- output unescaped value into html template ie escape as html - (%-)
//write js first then add tags then embed ino html template
-->
