<!--ejs file - standard html + javascript -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>This Home Page</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis
      doloribus beatae unde dicta mollitia, obcaecati corporis nisi architecto
      ducimus! Quo quod perspiciatis optio corporis earum modi eveniet ad
      repellendus quaerat.
    </p>
  </body>
</html>
<!--
go to ejs documentation
//Tags// - helps embed js into html template
1- control-flow, no output to html template - %
2- output value into html template - %=
//write js first then add tags then embed ino html template
-->
