<%- include("partials/head") %>
<!--path argument in functionObject-->
<!--include the head.ejs partial ejs template-->

<body>
  <!--bootstrap v4.5.3 library - adding a navbar component-->
  <%- include("partials/navbar")%>
  <!--include the navbar.ejs partial ejs template-->
  <h1>I am sorry, we coudnt find the <%=subreddit%> subreddit.</h1>
</body>
<%- include("partials/footer")%>
<!--path argument in functionObject-->
<!--include the footer.ejs partial ejs template-->
